body{
    background-color: black;
}
h1{
    color: greenyellow;
    text-align: center;
    background-color: darkslateblue;
    margin-left: 100px;
    margin-right: 100px;
}
.players{
    display: flex;
    gap: 40px;
    justify-content: center
}
label{
    background-color:darkgrey;
    padding: 10px;
}
.grid{
    display: grid;

    justify-content: center;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    margin-top: 20px;
    padding: 10px;    
}
.box{
    border: 2px solid black;
    background-color: darkgray;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
h2{
    
    margin-top: 1em;
    font-size: 2rem;
    font-family: 'Ewert', cursive
    ;
    margin-bottom: 0.5em;
    color: greenyellow;
    background-color: darkslateblue;
    text-align: center;

}